In [14]:
from sqlalchemy import (
    create_engine, inspect, text, select,
    MetaData, Table, and_, or_, desc, asc, func,
    )

import pandas as pd

In [6]:
# dialect + driver :// username : password @ host : port / dbname

conn_str = "sqlite+pysqlite://///workspaces/python-d2i-beginners/SQL_tutorial/chinook.db"

chinook_engine = create_engine(conn_str)

with chinook_engine.connect() as conn:
    inspection = inspect(chinook_engine)
    print(inspection.get_table_names())

['albums', 'artists', 'customers', 'employees', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'tracks']

In [7]:
conn_str = "sqlite+pysqlite://///workspaces/python-d2i-beginners/SQL_tutorial/gravity.db"

gravity_engine = create_engine(conn_str)

with gravity_engine.connect() as conn:
    inspection = inspect(gravity_engine)
    print(inspection.get_table_names())

['address', 'address_status', 'author', 'book', 'book_author', 'book_language', 'country', 'cust_order', 'customer', 'customer_address', 'order_history', 'order_line', 'order_status', 'publisher', 'shipping_method']

In [9]:
chinook_metadata = MetaData()
print(chinook_metadata)

tracks = Table('tracks', chinook_metadata, autoload_with=chinook_engine)
#tracks.c.keys()
repr(tracks)

MetaData()

"Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)"

In [10]:
# Make an empty metadata object for the gravity db
# Make a table for the book db table
# get the names of the columns in the book table

gravity_metadata = MetaData()
books = Table('book', gravity_metadata, autoload_with=gravity_engine)
books.c.keys()

['book_id',
 'title',
 'isbn13',
 'language_id',
 'num_pages',
 'publication_date',
 'publisher_id']

In [15]:
with chinook_engine.connect() as conn:
    # statement
    stmt = "select * from tracks"
    # results proxy
    result_proxy = conn.execute(text(stmt))
    # fetch results
    result = result_proxy.fetchmany(size=20)

all_tracks = pd.DataFrame(result)
all_tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
10,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
11,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
12,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
13,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
14,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99
15,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99
16,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
17,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
18,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99
19,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99

In [19]:
with gravity_engine.connect() as conn:
    # statement
    stmt = "select * from book order by title desc"
    # results proxy
    result_proxy = conn.execute(text(stmt))
    # fetch results
    result = result_proxy.fetchmany(size=20)

all_books = pd.DataFrame(result)
all_books

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,11078,魔戒首部曲：魔戒現身,9789570823363,14,608,2001-12-20,2260
1,11079,魔戒二部曲：雙城奇謀,9789570823370,14,467,2001-12-20,2260
2,11120,鋼之鍊金術師 9,9789861156521,14,184,2004-12-16,2258
3,11119,鋼之鍊金術師 7,9789861146157,14,191,2004-06-12,2258
4,11118,鋼之鍊金術師 6,9789861146140,14,191,2004-06-02,2258
5,11117,鋼之鍊金術師 5,9789861146133,14,189,2004-06-02,2258
6,11116,鋼之鍊金術師 4,9789861146126,14,189,2004-06-02,2258
7,11115,鋼之鍊金術師 2,9789861146102,14,185,2004-06-01,2258
8,11121,鋼之鍊金術師 10,9789861156538,14,188,2005-03-23,2258
9,11114,鋼之鍊金術師 1,9789861146096,14,183,2004-06-01,2258
10,10920,鋼の錬金術師 8 (Fullmetal Alchemist 8),9784757512306,11,192,2004-07-22,2253
11,10919,鋼の錬金術師 5 (Fullmetal Alchemist #5),9784757509665,11,188,2003-06-21,2253
12,10918,鋼の錬金術師 4 (Fullmetal Alchemist #4),9784757508552,11,184,2003-01-20,2253
13,10917,鋼の錬金術師 3 (Fullmetal Alchemist #3),9784757507913,11,182,2002-09-21,2253
14,10916,鋼の錬金術師 1 [Hagane no Renkinjutsushi 1] (Fullmet...,9784757506206,11,180,2002-01-20,2253
15,11083,野獸國 (漢聲精選世界最佳兒童圖畫書．心理成長類 #36),9789575881047,14,36,1987-03-01,2261
16,10902,犬夜叉 8,9784091252081,11,192,1998-11-18,2255
17,10901,犬夜叉 7,9784091252074,11,192,1998-08-08,2255
18,10900,犬夜叉 4,9784091252043,11,192,1997-12-10,2255
19,10911,犬夜叉 28,9784091256485,11,192,2002-12-05,2255

In [21]:
with chinook_engine.connect() as conn:
    stmt = select(tracks)
    result_proxy = conn.execute(stmt)
    result = result_proxy.fetchmany(10)

tracks_df = pd.DataFrame(result)
tracks_df

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99

In [24]:
# Get the first ten rows of the books table into a dataframe

with gravity_engine.connect() as conn:
    stmt = select(books)
    result_proxy = conn.execute(stmt)
    result = result_proxy.fetchmany(10)

books_df = pd.DataFrame(result)
books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416
5,6,Life Is a Dream and Other Spanish Classics (Er...,73999140774,1,298,2000-04-01,96
6,7,William Goldman: Four Screenplays,73999254907,2,504,2000-05-01,95
7,8,The Season: A Candid Look at Broadway,73999768442,1,448,2004-07-01,1136
8,9,The Beatles Complete - Updated Edition,73999960822,1,303,1986-12-01,835
9,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591

In [25]:
with chinook_engine.connect() as conn:
    # select * from tracks where AlbumId = 1
    stmt = select(tracks).where(tracks.columns.AlbumId == 1)
    result_proxy = conn.execute(stmt)
    result = result_proxy.fetchall()

album_id_1 = pd.DataFrame(result)
album_id_1

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99

In [26]:
# Find rows with books from Gravity with titles 'Working Effectively with Legacy Code' and "The Basic Works of Aristotle"
with gravity_engine.connect() as conn:
    stmt = select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
                                   books.columns.title == "The Basic Works of Aristotle"))
    qry = conn.execute(stmt)
    results = qry.fetchall()

books_df = pd.DataFrame(results)
books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591
1,3216,The Basic Works of Aristotle,9780375757990,1,1487,2009-08-19,1282

In [31]:
with chinook_engine.connect() as conn:
    stmt = select(tracks).order_by(tracks.columns.Composer.desc(), tracks.columns.Name)
    qry = conn.execute(stmt)
    results = qry.fetchmany(10)

tracksbycomposer_df = pd.DataFrame(results)
tracksbycomposer_df

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,822,A Twist In The Tail,66,1,1,roger glover,257462,8413103,0.99
1,817,Lick It Up,66,1,1,roger glover,240274,7792604,0.99
2,825,One Man's Meat,66,1,1,roger glover,278804,9068960,0.99
3,821,Ramshackle Man,66,1,1,roger glover,334445,10874679,0.99
4,824,Solitaire,66,1,1,roger glover,282226,9157021,0.99
5,819,Talk About Love,66,1,1,roger glover,247823,8072171,0.99
6,820,Time To Kill,66,1,1,roger glover,351033,11354742,0.99
7,1055,Loves Been Good To Me,83,1,12,rod mckuen,203964,6645365,0.99
8,1041,For Once In My Life,83,1,12,orlando murden/ronald miller,171154,5557537,0.99
9,1052,The Lady Is A Tramp,83,1,12,lorenz hart/richard rodgers,184111,5987372,0.99

In [32]:
# order books by pagecount to find ten longest
with gravity_engine.connect() as conn:
    stmt = select(books).order_by(books.columns.num_pages.desc())
    qry = conn.execute(stmt)
    results = qry.fetchmany(10)

longestbooks_df = pd.DataFrame(results)
longestbooks_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,3564,The Complete Aubrey/Maturin Novels (5 Volumes),9780393060119,1,6576,2004-10-17,2143
1,3749,The Second World War,9780395416853,1,4736,1986-05-09,1212
2,6460,Remembrance of Things Past (Boxed Set),9780701125592,1,3400,1981-03-05,380
3,4138,Harry Potter Collection (Harry Potter #1-6),9780439827607,1,3342,2005-09-12,1763
4,8297,Summa Theologica 5 Vols,9780870610639,1,3020,1981-01-01,394
5,796,Harrison's Principles of Internal Medicine,9780071391405,1,2751,2004-07-27,1235
6,4121,Harry Potter Boxed Set Books 1-5 (Harry Potte...,9780439682589,1,2690,2004-09-13,1763
7,7960,The Sword of Truth Boxed Set I: Wizard's Firs...,9780812575606,2,2480,1998-11-15,2000
8,5713,The J.R.R. Tolkien Companion and Guide,9780618391134,1,2264,2006-11-02,987
9,2212,Study Bible: NIV,9780310929550,1,2198,2002-10-01,2251

In [34]:
with chinook_engine.connect() as conn:
    stmt = select(func.sum(tracks.columns.Milliseconds))
    results = conn.execute(stmt).scalar()
results

1378778040

In [35]:

with gravity_engine.connect() as conn:
    stmt = select(func.sum(books.columns.num_pages))
    result = conn.execute(stmt).scalar()
print(result)

3741853

In [ ]:
# find the total number of pages for the ten longest books published in a particular year